<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.admin.mapper.CustomerOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.tk.admin.domain.CustomerOperationLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="record" jdbcType="VARCHAR" property="record" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, member_id, record, remark, status, create_time
  </sql>
</mapper>