<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tk.admin.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.tk.admin.domain.Customer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="login_in" jdbcType="VARCHAR" property="loginIn" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="quota" jdbcType="DOUBLE" property="quota" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="region" jdbcType="INTEGER" property="region" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="initial_value" jdbcType="VARCHAR" property="initialValue" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="last_user" jdbcType="INTEGER" property="lastUser" />
    <result column="last_date" jdbcType="TIMESTAMP" property="lastDate" />
  </resultMap>

  <sql id="Base_Column_List">
    id, role_name, login_in, password, mobile, address, position, quota, remark, member_id, finance_no, province,
    city, region, status, initial_value, create_user, create_date, last_user, last_date
  </sql>

  <select id="queryProductList" resultMap="BaseResultMap">
    select * from f_customer
    <where>
      <if test="memberId > 0"> and member_id = #{memberId}</if>
      <if test="search != null and search != ''"> and role_name like CONCAT('%',#{search},'%')</if>
    </where>
  </select>

  <select id="checkName" resultType="string">
    select login_in from f_customer where login_in = #{loginIn}
    limit 1
  </select>

  <select id="login" resultMap="BaseResultMap" >
    select * from f_customer where login_in = #{loginIn} and password = #{password}
  </select>

</mapper>